---
import { getCollection } from 'astro:content';
import '../styles/global.css';
import CommonHead from '../components/CommonHead.astro';
import Footer from '../components/Footer.astro';

export async function getStaticPaths() {
  const allPages = await getCollection('pages');
  
  const paths = allPages
    .map(page => ({
      params: { slug: page.slug },
      props: { page }
    }));

  return paths;
}

const { page } = Astro.props;
const { Content } = await page.render();

const title = page.slug.split('/').pop()!;
const path = '/' + page.slug;
---

<html lang="en">
  <head>
    <CommonHead title={title} />
  </head>
  <body>
    <article class="prose">
      <Content />
      <Footer currentSlug={page.slug} path={path} />
    </article>
  </body>
</html>

